{# -*- mode: cython -*- -#}

from libc.stdint cimport uint32_t

# =========== python object    
{{wrap_LC_CSR_Graph_PyObject("Directed", "template_parameter_true")}}
{{wrap_LC_CSR_Graph_PyObject("Undirected", "template_parameter_false")}}

{% set types = ["void", "int", "float", "double", "uint32_t"] %}
{% for node_type in types %}
{% for edge_type in types %}
# =========== {{node_type}}, {{edge_type}}
{{wrap_LC_CSR_Graph_primitive_both(node_type, edge_type)}}
{% endfor %}
{% endfor %}

